@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a asp-controller="DIScope" asp-action="Index">DIScope</a></p>
    <p><a asp-controller="DiSubScope" asp-action="Index">DISubScope</a></p>
    <p><a href="Options">Options</a></p>
</div>
